SERVER_URL=http://hostname:8080
DEPLOYMENT_URI=/openam
BASE_DIR=/openam
locale=en_US
PLATFORM_LOCALE=en_US
AM_ENC_KEY=passwordKey
ADMIN_PWD=cangetinam
AMLDAPUSERPASSWD=cangetinam
COOKIE_DOMAIN=192.168.2.216
ACCEPT_LICENSES=true

DATA_STORE=embedded
DIRECTORY_SSL=SIMPLE
DIRECTORY_SERVER=hostname
DIRECTORY_PORT=50389
DIRECTORY_ADMIN_PORT=4444
DIRECTORY_JMX_PORT=1689
ROOT_SUFFIX=dc=openam,dc=forgerock,dc=org
DS_DIRMGRDN=cn=Directory Manager
DS_DIRMGRPASSWD=cangetinam


LB_SITE_NAME=lb
LB_PRIMARY_URL=http://192.168.2.216:80/openam

##############################################################################
